@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

a:hover {
    color:darkblue;
}

main .container.first-container {
    margin-top: 70px;
}

.background-img {
    height: 100%;
    background: fixed url("../img/background-img.png") no-repeat;
    background-size: cover;
    color:black;
    font-family: "Vollkorn", sans-serif;
    overflow-y: scroll;
}

.question {
    margin-top: 10px;
    font-family: "Marck Script", sans-serif;
}

.question-border {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5) inset;
    background-color:rgba(0, 0, 0, 0.1)
}

.question img {
    width: 90%;
    margin: 10px;
    border: 2px black solid;
    border-radius: 25%;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.question img:hover {
    box-shadow: none;
}

.question-header {
    color: #0a0b13;
    font-size: 20px;
}

.question-tags {
    flex-wrap: wrap;
}

.q-tags-long {
    align-items: flex-start;
}

.top-questions-href {
    font-size: 15px;
    color: red;
    margin-left: 10px;
    text-decoration: none;
}

.likes {
    position: relative;
}

.like-count {
    margin-right: 25px;
}

.like-count::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/not-like.png") no-repeat;
    background-size: contain;
    right: 0px;
}

.like-count:hover::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/like.png") no-repeat;
    background-size: contain;
    right: 0px;
}

main .container.introduce {
    width: 100%;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: lightgray;
}

.my-avatar {
    width: 40px;
    height: 40px;
    border: 1px black solid;
    border-radius: 40%;
    margin: 5px;
}

.btn-sm {
    height: 22px;
    font-size: 10px;
}

.container {
    padding-top: 0px !important;
}

.tag {
    text-decoration: none;
    color: #2a2a35;
    font-family: "Special Elite", sans-serif;
    padding: 2px;
}

.tag-popular {
   background-color: rgba(128,128,128,0.4);
   border-radius: 10px;
   border: 1px #22232b solid;
   text-decoration: none;
   color:#0a0b13;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.q-tag {
    font-size: 12px;
    line-height: 22px;
    vertical-align: middle;
}

a.tag:hover {
    background-color: rgba(128,128,128,0.1);
}

.my-colon {
    margin-top: 10px;
    margin-left: 10px;
}

.top-cats {
    list-style: none;
    position: relative;
    padding-left: 10px;
}

.cat-in-top {
    color:#0a0b13;
}

.cat-in-top::before {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: 5px;
    border: 5px solid transparent; 
    border-left: 5px solid #0a0b13; 
}

.pages {
    height: 80px;
}

.page {
    border: 2px black solid;
    border-radius: 50%;
    margin: 5px;
    padding: 3px 5px;
    height: 30px;
    color: #0a0b13;
    background-color: rgba(79, 90, 236, 0.842);
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px black;
}

.page:hover {
    background-color: rgba(79, 90, 236, 0.3);
    box-shadow: none;
}


input[type="checkbox"] {
    margin-right: 5px;
}

.input:checked + span {
    content: "Correct";
    color:rgb(11, 97, 11);
    font-weight: bold;
}

.not-correct::after {
    content: "Not_correct";
    color:red;
    font-weight: bold;
}
