{% load static %}
<div class="likes justify-content-end d-flex align-items-center">
    <span class = "d-flex me-2">{{question.rating.likes}}</span>
    <span class="like-count-up d-flex me-1" style="margin: -10px">
    {% if question.is_like %}
    <img src = "{% static 'img/is-like.png' %}" class = "is-like">
    {% else %}
    <img src = "{% static 'img/not-like.png' %}" class = "not-like">
    {% endif %}
    </span>
    <span class = "d-flex me-2">{{question.rating.dislikes}}</span>
    <span class="like-count-down d-flex" style="margin: -10px">
    {% if question.is_dislike %}
    <img src = "{% static 'img/is-dislike.png' %}" class = "is-like">
    {% else %}
    <img src = "{% static 'img/not-dislike.png' %}" class = "not-like">
    {% endif %}
    </span>
</div>