{% load static %}
<div class = "row question question-border">
    <div class="col-3">
      <div class = "row">
        <a href="{% url 'one_question' id=question.id %}">
        {% if question.user.photo %}
          <img src = "{{STATIC_URL}}{{question.user.photo.url}}" alt={{question.user.name}}>
        {% else %}
          <img src = "{% static 'img/avatar.png' %}">
        {% endif %}
        </a>
      </div>
      <div class = "row">
        <div class = "author">{{question.user.name}}</div>
      </div>
    </div>
    <div class="col-9">
        <div class = "row">
          <div href="html/question.html" class="question-header">
            <a href="{% url 'one_question' id=question.id %}">
              {{ question.title }}
            </a>
          </div>
          <div class="question-description">{{question.text}}</div>
        </div>
        <div class="row">
          <div class="col-4">
            <span>Answers: </span>
            <span class="question-count">3</span>
          </div>
          <div class="col-7">
            <span class="question-tags d-flex">
              <span>Tags: </span>
              {% for tag in question.tags.all%}
              <a class = "tag q-tag" href="{% url 'search_tag' tag %}">{{tag}}</a>
              {% endfor %}
            </span>
          </div>
        </div>
        <div class="likes justify-content-end d-flex align-items-center">
          <span class = "d-flex me-2">{{question.rating.likes}}</span>
          <span class="like-count-up d-flex me-1" style="margin: -10px">
            {% if question.is_like %}
            <img src = "{% static 'img/is-like.png' %}" class = "is-like">
            {% else %}
            <img src = "{% static 'img/not-like.png' %}" class = "not-like">
            {% endif %}
          </span>
          <span class = "d-flex me-2">{{question.rating.dislikes}}</span>
          <span class="like-count-down d-flex" style="margin: -10px">
            {% if question.is_dislike %}
            <img src = "{% static 'img/is-dislike.png' %}" class = "is-like">
            {% else %}
            <img src = "{% static 'img/not-dislike.png' %}" class = "not-like">
            {% endif %}
          </span>
        </div>
        <div class = "justify-content-end me-2 mt-2 d-flex">
          <span class = "me-2">DATE:</span>
          <span class = "date">{{question.date}}</span>
        </div>
    </div>
</div>