{% extends "include/base_question.html" %}
{% load static %}

{% block qborder %}
<div class = "row question question-border">
{% endblock qborder%}

{% block answerscol %}
<div class="col-4">
  <span>Answers: </span>
  <span class="question-count">{{question.answers.count}}</span>
</div>
{% endblock answerscol %}

{% block tags %}
<div class="col-7">
  <span class="question-tags d-flex">
    <span>Tags: </span>
    {% for tag in question.tags.all%}
    <a class = "tag q-tag" href="{% url 'search_tag' tag %}">{{tag}}</a>
    {% endfor %}
  </span>
</div>
{% endblock tags %}

{% block date %}
<div class = "justify-content-end me-2 mt-2 d-flex">
  <span class = "me-2">DATE:</span>
  <span class = "date">{{question.date}}</span>
</div>
<div>Rating: {{question.rating}}</div>
{% endblock date %}