{% extends "include/base_question_answer.html" %}
{% load static %}

{% block top%}
 {% if question.user.profile.photo %}
  <img src = "{{MEDIA_URL}}{{question.user.profile.photo.url}}" alt={{question.user.username}}>
{% else %}
  <img src = "{% static 'img/avatar.png' %}">
{% endif %}
{% endblock top %}

{% block username %}
    <div class = "author">{{question.user.username}}</div>
{% endblock username %}

{% block content %}
<div href="html/question.html" class="question-header">
    <a style="color:darkblue; font-weight:600;" href="{% url 'one_question' id=question.id %}">
      {{ question.title }}
    </a>
  </div>
  <div class="question-description">{{question.text}}</div>
{% endblock content %}

{% block qborder %}
<div class = "row question question-border">
{% endblock qborder%}

{% block answerscol %}
<div class="col-4">
  <span>Answers: </span>
  <span class="question-count">{{question.answer_set.count}}</span>
</div>
{% endblock answerscol %}

{% block tags %}
<div class="col-7">
  <span class="question-tags d-flex">
    <span>Tags: </span>
    {% for tag in question.tags.all%}
    <a class = "tag q-tag" href="{% url 'search_tag' tag %}">{{tag}}</a>
    {% endfor %}
  </span>
</div>
{% endblock tags %}

{% block vote %}
Rating:<span class = "d-flex me-2" d="question_vote{{ question.pk }}">{{question.rating}}</span>
{% include "include/vote.html" with vote_object=question %}
{% endblock vote%}

{% block date %}
<div class = "justify-content-end me-2 mt-2 d-flex">
  <span class = "me-2">DATE:</span>
  <span class = "date">{{question.date}}</span>
</div>
<div>Rating: {{question.rating}}</div>
{% endblock date %}