{% extends "include/base.html" %}
{% load static %}

{% block description %}
  <div class="container-sm text-center mt-3 d-flex align-items-begin justify-content-center">
    <h1>Hot Questions</h1>
    <a class = "top-questions-href" href="{% url 'new_questions' %}">New questions</a>
  </div>
{% endblock description %}

{% block content %}
  {% for question in page.list %}
    {% include "include/question.html" with question=question%}
  {% endfor %}
{% endblock content %}

{% block pagination %}
    {% include "include/pagination.html"%}
{% endblock pagination %}