{%extends "include/base.html" %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">

  {% block description %}
  <div class="container first-container text-center d-flex  align-items-begin justify-content-center">
    <h1>Registration</h1>
  </div>
  {% endblock description %}
        
    {% block content %}
        <form class="row ask-title">
          <div class="input-group mb-3 mt-3">
            <label for="validationServer01" class="col-2 form-label">Login</label>
            <input type="text" id = "validationServer01" class = "col-10 form-control is-valid" placeholder="Введите логин" required>
            <div id="validationServer02" class="invalid-feedback">
              This login is already used
            </div>
        </div>
        <div class="input-group mb-3 mt-3">
          <label class="col-2 form-label" for = "validationServer03">Password</label>
          <input type="password" id="validationServer03" class = "col-10 is-invalid form-control" placeholder="Введите пароль" required>
          <div id="validationServer03" class="invalid-feedback">
            Wrong password!
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-dark" type="submit">LOG IN</button>
        </div>
        </form>
        <div class = "row">
            Don't have an account? <a href = "../html/register.html" style = "color:darkblue;">Быстрее регистрируйся)</a>
        </div>

    {% endblock content %}

</html>
