{% extends "include/base.html" %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
 
{% block description %}
  <div class="container-sm text-center mt-3 d-flex align-items-begin justify-content-center first-container">
    <h1>New Questions</h1>
    <a class = "top-questions-href" href="{% url 'hot_questions' %}">Hot questions</a>
  </div>
{% endblock description %}

{% block content %}
  {% for question in page.list %}
    {% include "include/question.html" with question=question%}
  {% endfor %}
{% endblock content %}

{% block pagination %}
    {% include "include/pagination.html" %}
{% endblock pagination %}

