{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="d-flex"><h2 class="mt-3">QUESTION: </h2></div>
      {% include "include/question.html" %}
    <div class="d-flex justify-content-center"><h1 class="mt-3">ANSWERS</h1></div>
      {% for answer in answers.list %}
      {% include "include/answer.html" with answer=answer %}
      {% endfor %}
  <div class = "justify-content-end me-2 mt-2 d-flex">
    <span class = "me-2">DATE:</span>
    <span class = "date">{{question.date}}</span>
  </div>
   <div class="row">
      <form class="row ask-title" action="{% url 'one_question' question.pk %}" method="post">
          {% csrf_token %}
          {{ form }}
          <div class="d-flex justify-content-start mt-2 mb-3">
              <button class="btn btn-dark" type="submit" href = "#">ANSWER</button>
          </div>
      </form> 
  </div> 
{% endblock content %}

{% block pagination %}
    {% include "include/pagination.html" with page=answers%}
{% endblock pagination %}
      