{%extends "include/base.html" %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
 
{% block description %}
<div class="container first-container text-center d-flex  align-items-begin justify-content-center">
  <h1>Registration</h1>
</div>
{% endblock description %}

{% block contain %}
<form class="ask-title">
  <div class="input-group mb-3 mt-3">
    <label for="validationServer01" class="col-2 form-label">Login</label>
    <input type="text" id = "validationServer01" class = "col-10 form-control is-valid" placeholder="Введите логин" required>
    <div id="validationServer02" class="invalid-feedback">
      This login is already used
    </div>
</div>
<div class="input-group mb-3 mt-3">
  <label class="col-2 form-label" for="validationServer02">Email</label>
  <input type="email" id = "validationServer02" class = "col-10 form-control is-valid" placeholder="Введите почту" required>
  <div id="validationServer02" class="invalid-feedback">
      This email is already used
  </div>
</div>
<div class="input-group mb-3 mt-3">
  <label class="col-2 form-label" for = "validationServerUsername">Username</label>
  <input type="text" id="validationServerUsername" class = "col-10 is-invalid form-control" placeholder="Введите имя пользователя" required>
  <div id="validationServerUsernameFeedback" class="invalid-feedback">
    This username is already used
  </div>
</div>
<div class="input-group mb-3 mt-3">
  <label class="col-2 form-label" for = "validationServer03">Password</label>
  <input type="password" id="validationServer03" class = "col-10 is-invalid form-control" placeholder="Введите пароль" required>
  <div id="validationServer03" class="invalid-feedback">
    Wrong password!
  </div>
</div>
<div class="input-group mb-3 mt-3">
  <label class="col-2 form-label" for = "validationServer04">Password</label>
  <input type="password" id="validationServer04" class = "col-10 is-invalid form-control" placeholder="Введите пароль повторно" required>
  <div id="validationServer04" class="invalid-feedback">
    Passwords don't match
  </div>
</div>
<div class="input-group mb-3">
  <label class="col-2 form-label" for="validationServer05">Upload photo</label>
  <input type = "file" id = "validationServer05" class = "form-control col-10 is-valid" placeholder="Загрузите свое фото" aria-label="file example" required>
  <div class="invalid-feedback" id="validationServer05">File doesn't exist</div>
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-dark" type="submit">REGISTER</button>
</div>
</form>
{% endblock contain %}
           
</html>
