{%extends "include/form.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  <div class="container first-container text-center d-flex  align-items-begin justify-content-center">
    <h1>Settings:</h1>
    <span class = "my-name"><h1> {{user.username}}</h1></span>
  </div>
{% endblock title %}

{% block formmethod %}
 <form class="row ask-title" action="/settings/" method="post">
{% csrf_token %}
{% bootstrap_form user_form %}
{% bootstrap_form profile_form %}
{% endblock formmethod%}

{% block buttons %}
<div class="d-flex justify-content-end mt-2">
    <button class="btn btn-dark" type="submit">CHANGE SETTINGS</button>
</div> 
{% endblock buttons %}